@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-deep-color: #1a4d6d;
  --primary-blue-color: #2d6a8f;
  --accent-gold-color: #d4a574;
  --secondary-tan-color: #c4a088;
  --text-dark-color: #8b7355;
  --text-light-color: #a89080;
  --border-color: #e8ddd6;
  --background-color: #f5f3f0;
  --white-color: #ffffff;
}

body {
  background-image: url("/src/imgs/mosque.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: var(--white-color);
  text-shadow: 2px 2px var(--primary-deep-color);
}

h2,
h1 {
  margin-bottom: 15px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arab-lang {
  font-family: "Amiri", serif;
  direction: rtl;
}
/* Header css */
.data {
  margin-top: 50px;
  background-color: rgba(245, 243, 240, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1;
  border-radius: 10px;
  border-color: var(--border-color);
  background-image: linear-gradient(
    to bottom right,
    var(--primary-deep-color),
    var(--primary-blue-color)
  );
  padding: 20px 50px 20px 50px;
}

.header .tag-name {
  background-color: var(--primary-blue-color);
  width: fit-content;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
}

.header .tag-name h3 {
  font-weight: 500;
}
.header h2 {
  font-weight: 300;
  font-size: 18px;
}
.header h1 {
  margin-top: 10px;
}

/* City Selector */
.city-selector-container {
  display: flex;
  margin: 20px 0 0 0;
  justify-content: center;
  align-items: center;
}

.city-label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--text-dark-color);
}

.custom-select {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 8px 12px;
  color: var(--primary-deep-color);
  width: max-content;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: cursive;
  font-weight: 500;
  text-align: center;
  text-shadow: 0.4px 0 0.5px var(--primary-blue-color);
}

.custom-select:focus {
  border-color: var(--primary-blue-color);
  box-shadow: 0 0 5px rgba(44, 83, 100, 0.2);
}

/* Location Data */
.location-date-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
  background-color: var(--white-color);
  border: solid;
  border-color: var(--border-color);
  border-radius: 10px;
  margin-top: 25px;
}

.location-date-container .location {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.location-date-container .info-header {
  display: flex;
  align-items: center;
  gap: 7px;
}

.location-date-container .icon {
  color: var(--primary-deep-color);
}

.location-date-container .date {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.location-date-container .hijri {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.location-date-container span {
  color: var(--accent-gold-color);
  font-weight: 600;
}

.location-date-container .info-value {
  color: var(--primary-blue-color);
  font-weight: 700;
}

/* Next prayer */
.next-prayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1;
  border-radius: 10px;
  border-color: var(--border-color);
  background-image: linear-gradient(
    to top left,
    var(--primary-deep-color),
    var(--primary-blue-color)
  );
  padding: 20px;
  margin-top: 25px;
  gap: 10px;
}
.next-prayer .prayer-text {
  color: var(--white-color);
  font-weight: 600;
  font-size: 13px;
}

.next-prayer .timer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.next-prayer .prayer {
  margin: 0;
  text-shadow: 2px 2px var(--primary-deep-color);
  font-size: 45px;
}
.next-prayer .timer {
  color: var(--white-color);
  font-weight: 400;
  font-size: 13px;
}

.prayers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.prayer-card {
  background-color: gba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
  border: 1px solid var(--accent-gold-color);
  border-radius: 20px;
  transition: transform 0.3s ease;
  padding: 20px 30px;
}

.prayer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px var(--secondary-tan-color);
}

.prayer-title {
  color: #a38d6d;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.prayer-time {
  color: #1a4d6e;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.prayer-period {
  color: #9e9d9d;
  font-size: 0.8rem;
  font-weight: 500;
}

.loading{
  text-align: center;
}